@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: relative;
  min-height: 100vh;
}

body::before,
body::after {
  content: '';
  position: fixed; 
  top: 0;
  width: 20px;  
  height: 100%; 
  z-index: 1; 
}

body::before {
  left: 0; 
  background: linear-gradient(to right, #07809e, rgba(255, 255, 255, 0)); 
}

body::after {
  right: 0; 
  background: linear-gradient(to left, #07809e, rgba(255, 255, 255, 0));  
} 

body {
  margin: auto;
  overflow: auto;
  background-image: url("C:/Users/asus/Desktop/Faculty/Home.jpeg");
  background-repeat: no-repeat;
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: #2e6d84;
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 9rem;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.faculty-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px; 
  padding: 0 20px 40px 20px;
  flex-wrap: wrap; 
}

.faculty-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 280px;
  height: 360px;
  background: url("C:/Users/asus/Desktop/Faculty/bookbg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #135e9c;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #07809e;
  box-shadow: 1px 1px 12px #07809e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
  color: #07809e;
}

.h1{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1 span {
  display: block;
  font-size: 20px; 
  margin-top: 5px;
}

p span{
  color:#034144;
}

.hod h1{
    font-family: "Lora", serif;
    font-weight: 900;
    font-size: 60px;
    font-style: normal; 
    text-shadow: 2px 2px 5px rgba(145, 216, 244, 0.7)
}

.coordinator h1{
  font-family: "Lora", serif;
  font-weight: 800;
  font-size: 50px;
  font-style: normal; 
  text-shadow: 2px 2px 5px rgba(162, 218, 238, 0.86)
}

.Faculty h1{
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal; 
  text-shadow: 3px 3px 6px rgba(145, 160, 244, 0.7);
}

.custom-line {
  width: 80px; 
  height: 4px; 
  background:rgba(30, 94, 128, 1);
  border-radius: 2px;
  margin: 8px auto; 
  box-shadow: 0px 0px 8px rgba(30, 94, 128, 1);
}

.line{
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}
